/*@font-face{
  font-family:'Silkscreen';
  src: url(./Silkscreen/slkscr.ttf) format('truetype')
}*/

body{
  background: white;
  min-width: 700px;
}


h1{
  color:black;
  font-family: arial;
  text-align: center;
}


pixelPainter{
  display: inline-block;
  background-color: blue;
  padding: 200px;
}

.swatch{
  border-radius: 30%;
}

.pixel{

}

.roundedCorners{
  border-radius: 50%;
}

#swatchContainer {
  float:left;
  margin: 10px;

}

#canvas {
  float:left;
  margin: 10px;

}

#buttonContainer {
  position: absolute;
  left: 25px;
  top: 215px;

 /* margin: 25px;*/
}



