@font-face{
  font-family:'Silkscreen';
  src: url(./Silkscreen/slkscr.ttf) format('truetype')
}

body{
  background-color: beige;
  min-width: 700px;
}

h1{
  color:black;
  font-family: "Silkscreen";
  text-align: center;
}

pixelPainter{
  display: inline;
  background-color: blue;
  padding: 100px;

}

#canvas {
  margin: 25px;
}

#buttonContainer {
  margin: 25px;
}

#swatchContainer {
  float: right;
  margin: 25px;
}