body{
  background-color: pink;
}

h1{
  color:green;
  font-family: arial;
}

pixelPainter{
  background-color: blue;

}

swatchContainer{
  background-color: orange;
}

.row0{

background-color: green;
}

.row1{

background-color: purple;
}